// COLORS
$grey: #ddd;
$brand-primary: #5e4681;
$light-grey: #f9f9f9;
$dark-grey: #777;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

//  FONT SIZES
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// FORM INPUTS
$input-border: 1px solid $grey;
$input-spacing: 1rem;

// BOXED VIEW
$boxed-view-overlay-bg: $grey;
$box-view-bg: #fff;

$input-margin-bottom: $space;

// BUTTON
$button-bg: $brand-primary;
$button-color: #fff;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border: 1px solid $grey;

// HEADER
$header-bg: $brand-primary;
$header-color: #fff;

// ITEM
$item-bg: $light-grey;
$item-border: 1px solid darken($item-bg, 8%);
$item-text-color: $dark-grey;

// ERROR / FEEDBACK MESSAGES
$error-color: #e04136;

