.item {
    background: $item-bg;
    border: $item-border;
    margin-bottom: $space;
    padding: $space;

    &__message {
        color: $item-text-color;
    }

    &__status-message {
        color: $item-text-color;
        font-style: italic;
        text-align: center;
        margin: 0;
    }
}
